<html data-ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Angular Facebook Factory for AngularJS</title>
  </head>
  <body data-ng-controller="AppController">
    <button type="button" data-ng-disabled="status" data-ng-click="getAuth()">Get Auth</button>
    <button type="button" data-ng-disabled="!status" data-ng-click="disconnect()">Disconnect</button>
    <button type="button" data-ng-disabled="!status" data-ng-click="logout()">Logout</button>
    <div data-ng-show="status">
      <pre data-ng-bind="token"></pre>
      <pre data-ng-bind="me | json"></pre>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="../dist/bundle.min.js"></script>
    <script>
      angular
        .module('app', ['ngFacebook'])
        .controller('AppController', ['$scope','FacebookFactory','FacebookService',function($scope, FacebookFactory,FacebookService) {
          FacebookFactory.setLang('pt_BR')
          FacebookFactory.init({
            appId: '1653914798246145'
          })
          $scope.status = false
          $scope.getAuth = function(callback) {
            FacebookService.auth(function(response) {
              $scope.status = true
              $scope.token = response.authResponse.accessToken
              FacebookService.me(function(response) {
                $scope.me = response
              })
            })
          }
          $scope.logout = function() {
            FacebookService.logout(function(response) {
              $scope.status = false
            })
          }
          $scope.disconnect = function() {
            FacebookService.disconnect(function(response) {
              $scope.status = false
            })
          }
        }])
        .service('FacebookService', ['$http','FacebookFactory',function($http, FacebookFactory) {
          var service = {
            me: me,
            auth: auth,
            logout: logout,
            disconnect: disconnect
          }
          return service
          function me(callback) {
            FacebookFactory.api('/me', {
              fields: 'name,email,gender,birthday'
            }, function(response) {
              callback(response)
            })
          }
          function auth(callback) {
            FacebookFactory.getLoginStatus(function(response) {
              if (response.status === 'connected') {
                callback(response)
              } else {
                FacebookFactory.login(function(response) {
                  if (response.status === 'connected') {
                    callback(response)
                  }
                }, {
                  scope: 'public_profile'
                })
              }
            })
          }
          function logout(callback) {
            FacebookFactory.logout(function(response) {
              callback(response)
            })
          }
          function disconnect(callback) {
            FacebookFactory.disconnect(function(response) {
              callback(response)
            })
          }
        }])
    </script>
  </body>
</html>